<h1>Projects</h1>
<ul>
    <li><a href="https://github.com/Andersos/blog.andersos.net/issues">blog.andersos.net</a></li>
    <li><a href="http://getpocket.com/a/queue/">Pocket</a> <a href="https://twitter.com/Andersos/status/526351254113771520">was 831 <time datetime="2014-10-26">2014.10.26</time></a></li>
    <li><a href="https://github.com/Andersos/andersos.net/issues">Andersos.net</a></li>
    <li><a href="https://gist.github.com/Andersos/32ba857519db96e97e63">Project Reading</a></li>
    <li><a href="https://gist.github.com/Andersos/a3ffc7ff59bab2c2be73">Project Vod</a></li>
    <li><a href="https://www.youtube.com/playlist?list=WL">Youtube watch later</a></li>
    <li><a href="https://github.com/issues">Github issues</a></li>
    <li><a href="http://feedly.com/">Feedly</a></li>
</ul>
