Hello, my name is Anders Olsen Sandvik.
You can find me on Twitter as <a href="https://twitter.com/Andersos">@Andersos</a>

<img src="https://www.gravatar.com/avatar/46f0faa6adca491c96513814e86a3a4f" alt="Anders Olsen Sandvik">

<a href="/todo">TODO</a>