

Hello, my name is Anders Olsen Sandvik.
You can find me on Twitter as <a href="https://twitter.com/Andersos">@Andersos</a>

<img src="https://www.gravatar.com/avatar/46f0faa6adca491c96513814e86a3a4f" alt="Anders Olsen Sandvik">

<a href="/todo">TODO</a>


Places you can find me

https://keybase.io/andersos
https://github.com/andersos
https://twitter.com/Andersos
http://instagram.com/anderssandvik
https://www.facebook.com/AndersOlsenSandvik
https://www.linkedin.com/in/andersos
https://plus.google.com/115157124882342094326
http://www.slideshare.net/AndersOlsenSandvik

PGP Fingerprint A148 B23D 22D6 4F9B 77B9 B6B7 C117 91D7 AAAF AD5C
Link to PGP file